@{
    ViewBag.Title = "Index";
    Layout = "./_PartialPage1.cshtml";
}

<style>
    .t
    {
        margin-top: -15px;
    }
</style>

<div class="t">


    <div class="tree_list" id="mm1">

        <div class="btn-group" style="margin: 10px;">
            <button data-toggle="dropdown" type="button" class="btn btn-default btn-sm dropdown-toggle">------------ 2017 ------------ <span class="caret"></span></button>
            <ul role="menu" class="dropdown-menu">
                @{ var years = ViewBag.years as List<Yisaa.DAL.DT_Total>;
                   foreach (var f in years)
                   {                                   
                    <li><a href="#">@f.YearTable</a></li>

                   }
                }
            </ul>
        </div>

        <div class="dd" id="nestable_list_1">
            <ol class="dd-list">

                @{
                    var ulists = ViewBag.userinfolist1 as List<Yisaa.DAL.DT_UserInfo>;
                    var allusers = (ViewBag.allusers as List<Yisaa.DAL.DT_UserLoginRecord>);
                    var depts = (ViewBag.alldepts as List<Yisaa.DAL.DT_WorkUnit>);
                    var allunits = ViewBag.allunits as List<Yisaa.DAL.DT_WorkUnit>;

                    foreach (var unit in allunits)
                    {                                           
                    <li class="dd-item" data-id="1">

                        <div class="dd-handle"><a href="#"><i class="dd-red i_link fa fa-folder"></i>@unit.UnitName</a></div>
                        @foreach (var d in depts.Where(a => a.ParentId == unit.Id))
                        {                                             
                            <ol class="dd-list">
                                <li class="dd-item" data-id="3">
                                    <div class="dd-branch"><a href="#"><i class="dd-blue i_link fa fa-folder"></i>@d.UnitName</a></div>
                                        @foreach (var user in allusers.Where(a => a.DeptId == d.Id))
                                        { 
                                    <ol class="dd-list">
                                          
                                            <li class="dd-item" data-id="6">

                                                <div class="dd-people">

                                                    <a href="#">
                                                        @foreach (var u in ulists.Where(a => a.UserId == user.Id))
                                                        {
                                                            if (u.Photo==""||u.Photo==null)
                                                            {
                                                                 
                                                            <div class="tree_pic po_rel">
                                                              <em class="r_point"></em>
                                                              <img src="~/Content/images/user.gif" style="width: 30px; height: 26px" />
                                                            </div>    
                                                            
                                                            }
                                                            else
                                                            {
                                                              <div class="tree_pic po_rel">
                                                                <em class="r_point"></em>
                                                                <img src="~/Content/Upload/Images/@u.Photo" style="width:30px;height:26px"/>
                                                              </div>
                                                            }
                                                           
                                                           
                                                        }
                                                        @user.RealName
                                                    </a>
                                                </div>

                                            </li>
                                       
                                    </ol>
                                    }
                                </li>

                            </ol>
                        }

                    </li>                    
                    }
                    
                }

            </ol>
        </div>
    </div>

    <div class="ml_260">


        <!--body wrapper start-->
        <div class="wrapper">


            @RenderBody()

        </div>
        <!--body wrapper end-->
    </div>
</div>


