@{
    ViewBag.Title = "UpdHousing";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

  <div class="row">
            <div class="col-md-12">
                <!--breadcrumbs start -->
                <ul class="breadcrumb panel">
                    <li><a href="/EnterFile/Index"><i class="fa fa-home"></i> 首页</a></li>
                    <li class="active">科级干部奖惩情况登记表</li>
                </ul>
                <!--breadcrumbs end -->
            </div>
        </div>
            <div class="row">
			
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                          【@Session["realname"]】本人、配偶及共同生活的子女住房情况报告表</header>
                        <div class="panel-body">
						 <div class="alert alert-block alert-danger fade in">
                <button type="button" class="close close-sm" data-dismiss="alert"> <i class="fa fa-times"></i> </button>
                <strong>说明：</strong><p>1、共同生活的子女指同一户籍的子女，或居住以填表人名义分配、购买、营建住房的子女。</p>
  	<p>2、房屋性质包括租赁公房、房改房、集资房、商品房、经济适用房、军产房、安居房、小产权房、自建房等。</p>
	<p>3、房屋来源包括单位分配、房改购买、集资、奖励、自建、自购、继承、受赠等。</p>
	<p>4、“其他需要说明的情况”栏中，填写住房拆迁、过户、转让，以及本人和配偶享受住房补贴等情况。</p>
	<p>5、填写住房现状（房屋出售填2005年1月1日以后的）。</p>
	</div>
    @{
        foreach (var hto in (ViewBag.housetotallist as List<Yisaa.DAL.DT_HousingTotal>))
        {
				<table class="table table-striped table-hover table-bordered">
                <thead>
				
                <tr>
                    <th>配偶姓名</th>
                    <th>单位</th>
                    <th width="30%">职务</th>
                </tr>
                </thead>
                <tbody>
				<tr>
				<td> <input type="" class="form-control" id="pname" placeholder="" value="@hto.PartnerName"></td>
				<td> <input type="" class="form-control" id="punit" placeholder="" value="@hto.PartnerUnit"></td>
				<td> <input type="" class="form-control" id="ppost" placeholder="" value="@hto.PartnerPost"></td>
				</tr>
                </tbody>
                </table>
   
				<table class="table table-striped table-hover table-bordered">
                <thead>
				 <tr>
                    <th colspan="6">1.本人、配偶及共同生活的子女现有住房情况
                        <div style="float:right">
                            <button class="btn btn-primary" id="add_house">新增 <i class="fa fa-plus"></i></button>
                        </div></th>
                   
                </tr>
                <tr>
                     <th hidden="hidden">序号</th>
                    <th>地址（具体到街道、幢、室）</th>
                    <th>建筑面积</th>
                    <th>房屋性质</th>
					<th>房屋来源</th>
					<th>产权人</th>
                    <th width="10%">操作</th>
                </tr>
                </thead>
                <tbody id="house_tbody">
                    @{foreach (var item in ViewBag.houselist as List<Yisaa.DAL.DT_HousingHouse>)
                      {
                      
				 <tr>
                     <td hidden="hidden">@item.Id</td>
                    <td>@item.HouseAddress</td>
                    <td>@item.Area</td>
                    <td>@item.HouseNature</td>
					<td>@item.HouseFrom</td>
                    <td>@item.PropertyOwner</td> 
                    <td>
                        <a href="#" style="cursor: pointer" class="house_update">修改</a> | <a href="/EnterFile/_DelHouse?h.Id=@item.Id" style="cursor:pointer" class="delete">删除</a>
                    </td>
                  </tr>
                      }
                        }
                </tbody>
                </table>
				<table class="table table-striped table-hover table-bordered">
                <thead>
				 <tr>
                    <th colspan="6">2.购房情况<div style="float:right"><button class="btn btn-primary" id="buy_add">
                            新增 <i class="fa fa-plus"></i>
                        </button></div></th>
                   
                </tr>
                <tr>
                     <th hidden="hidden">序号</th>
                    <th>房屋地址</th>
                    <th>建筑面积</th>
                    <th>金额</th>
					<th>资金来源</th>
					<th>时间</th>
                    <th width="10%">操作</th>
                </tr>
                </thead>
                <tbody id="buy_tbody">
                     @{foreach (var buy in ViewBag.buylist as List<Yisaa.DAL.DT_HousingBuy>)
                       {
				 <tr>
                     <td hidden="hidden">@buy.Id</td>
                    <td>@buy.BuyHouseAddress</td>
                    <td>@buy.BuyHouseArea</td>
                    <td>@buy.BuyHouseMoney</td>
					<td>@buy.BuyHouseIncome</td>
                    <td>@buy.BuyHouseTime</td>
                    <td> 
                        <a href="#" style="cursor: pointer" class="buy_update">修改</a> | <a href="/EnterFile/_DelBuy?h.Id=@buy.Id" style="cursor:pointer" class="delete">删除</a>
                    </td>
                  </tr>
                       }}
			
                </tbody>
                </table>
				<table class="table table-striped table-hover table-bordered">
                <thead>
				 <tr>
                    <th colspan="6">3.房屋出售情况<div style="float:right"><button class="btn btn-primary" id="sell_add">
                            新增 <i class="fa fa-plus"></i>
                        </button></div></th>
                   
                </tr>
                <tr>
                     <th hidden="hidden">序号</th>
                    <th>房屋地址</th>
                    <th>建筑面积</th>
                    <th>房屋性质</th>
					<th>售房时间</th>
					<th>售房金额（元）</th>
                    <th width="10%">操作</th>
                </tr>
                </thead>
                <tbody id="sell_tbody">
                      @{foreach (var sell in ViewBag.selllist as List<Yisaa.DAL.DT_HousingSell>)
                        {
				 <tr>
                      <td hidden="hidden">@sell.Id</td>
                    <td>@sell.SellHouseAddress</td>
                    <td>@sell.SellHouseArea</td>
                    <td>@sell.SellHouseNature</td>
					<td>@sell.SellHouseTime</td>
                    <td>@sell.SellHouseMoney</td>
                    <td>
                        <a href="#" style="cursor: pointer" class="sell_update">修改</a> | <a href="/EnterFile/_DelSell?h.Id=@sell.Id" style="cursor:pointer" class="delete">删除</a>
                    </td>
                  </tr>
                        }}
				 
                </tbody>
                </table>
				<table class="table table-striped table-hover table-bordered">
                <thead>
				 <tr>
                    <th colspan="6">4.房屋出租情况<div style="float:right"><button class="btn btn-primary" id="rent_add">
                            新增 <i class="fa fa-plus"></i>
                        </button></div></th>
                   
                </tr>
                <tr>
                     <th hidden="hidden">序号</th>
                    <th>房屋地址</th>
                    <th>建筑面积</th>
                    <th>房屋性质</th>
					<th>租赁期限</th>
					<th>年租金（元）</th>
                    <th width="10%">操作</th>
                </tr>
                </thead>
                <tbody id="rent_tbody">
                     @{foreach (var rentout in ViewBag.rentoutlist as List<Yisaa.DAL.DT_HousingRentout>)
                       {
				 <tr>
                      <td hidden="hidden">@rentout.Id</td>
                    <td>@rentout.RentoutAddress</td>
                    <td>@rentout.RentoutArea</td>
                    <td>@rentout.RentoutNature</td>
					<td>@rentout.RentoutTime</td>
                    <td>@rentout.RentoutMoney</td>
                    <td>                      
                        <a href="#" style="cursor: pointer" class="rent_update">修改</a> | <a href="/EnterFile/_DelRentOut?h.Id=@rentout.Id" style="cursor:pointer" class="delete">删除</a>
                    </td>
                  </tr>
                       }}
				
                </tbody>
                </table>
				<table class="table table-striped table-hover table-bordered">
                <thead>
				 <tr>
                    <th colspan="6">5.参加集资建房情况<div style="float:right"><button class="btn btn-primary" id="build_add">
                            新增 <i class="fa fa-plus"></i>
                        </button></div></th>
                   
                </tr>
                <tr>
                     <th hidden="hidden">序号</th>
                    <th>房屋地址</th>
                    <th>建筑面积</th>
                    <th>集资单位</th>
					<th>房款总额（元）</th>
					<th>个人支付（元）</th>
                    <th width="10%">操作</th>
                </tr>
                </thead>
                <tbody id="build_tbody">
                     @{foreach (var build in ViewBag.buildlist as List<Yisaa.DAL.DT_HousingBuild>)
                       {
				 <tr>
                     <td hidden="hidden">@build.Id</td>
                    <td>@build.BuildHousesAddress</td>
                    <td>@build.BuildHousesArea</td>
                    <td>@build.BuildHousesUnit</td>
					<td>@build.BuildHousesTotal</td>
                    <td>@build.Payment</td>
                    <td>                     
                         <a href="#" style="cursor: pointer" class="build_update">修改</a> | <a href="/EnterFile/_DelBuild?h.Id=@build.Id" style="cursor:pointer" class="delete">删除</a>
                    </td>
                  </tr>
                       }}
                </tbody>
                </table>
           
                <table class="table table-striped table-hover table-bordered" >
                <thead>
				 <tr>
                    <th>其他集资建房情况</th>
                   
                </tr>
                </thead>
                <tbody>
                <tr class="">
                   
                    <td> <textarea rows="6" class="form-control" id="other">@hto.Other</textarea></td>
                </tr>
				
				
                </tbody>
                </table>
        }}
				 <div class="form-group">
                                <div class="col-lg-offset-5 col-lg-10">
                                    <button type="button" class="btn btn-primary" id="save">保存</button>
									<button class="btn btn-default" type="button" onClick="window.history.go(-1);">返回</button>
                                </div>
                            </div>
                    </div>
                    </section>
					
                </div>
            </div>

<script src="~/Content/js/jquery-1.10.2.min.js"></script>

<script src="~/Content/myjs/datepicker/WdatePicker.js"></script>
<script src="~/Content/myjs/datepicker/calendar.js"></script>

<script src="~/Content/laydate/laydate.js"></script>

<script>
    $(function () {

        ////////住房总表
        $("#save").click(function () {
            alert($("#other").val());

            $.post("/EnterFile/_UpdHouseTotal",
                {
                    "h.PartnerName":$("#pname").val(),
                    "h.PartnerUnit": $("#punit").val(),
                    "h.PartnerPost": $("#ppost").val(),
                    "h.Other": $("#other").val()

                }, function (data) {
                    if (data=="1") {
                        alert("保存成功！");
                        location.href = "/EnterFile/Index";
                    } else {
                        alert("保存失败,请重试！");
                        location.reload();//刷新
                    }
            });

        });

    
        ////////////////住房
        //添加
        $("#add_house").click(function () {
            var needtr = $("<tr></tr>");
            needtr.append(
            "<td><input type=\"text\" id='address' class=\"form-control\"></td>" +
            "<td><input type=\"text\" id='area' class=\"form-control\"></td>" +
            "<td><input type=\"text\" id='nature' class=\"form-control\"></td>" +
            "<td><input type=\"text\" id='from' class=\"form-control\"></td>" +
            "<td><input type=\"text\" id='owner' class=\"form-control\"></td>" +
            "<td><a class='save' style=\"cursor:pointer\" href=''>保存</a> | <a class='cancel' style=\"cursor:pointer\" href=''>取消</a></td>");
            //editable-sample2
            $("#house_tbody").append(needtr);
        });

        //保存 
        $("#house_tbody a.save").live("click", function () {

            $.post("/EnterFile/_AddHouse",
                {
                    "h.HouseAddress": $(this).parent().parent().find("td").eq(0).find("input").val().trim(),
                    "h.Area": $(this).parent().parent().find("td").eq(1).find("input").val().trim(),
                    "h.HouseNature": $(this).parent().parent().find("td").eq(2).find("input").val().trim(),
                    "h.HouseFrom": $(this).parent().parent().find("td").eq(3).find("input").val().trim(),
                    "h.PropertyOwner": $(this).parent().parent().find("td").eq(4).find("input").val().trim()

                }, function (data) {
                    if (data == "1") {
                        alert("保存成功！");
                        location.href = "/EnterFile/Housing";

                    }
                    else {
                        alert("保存失败,请重试！");
                        location.reload();//刷新
                    }
                });
        });

        //取消
        $("#house_tbody a.cancel").live("click", function () {

            $(this).parent().parent().remove();
        });


        //出现修改框
        $(".house_update").click(function () {

            var temptr = $(this).parent().parent();

            //序号
            var std_id = $("<td hidden='hidden'></td>");
            var std_input_id = $("<input type='text' class=\"form-control\"/>");
            std_input_id.val($(this).parent().parent().find("td:eq(0)").html().trim());
            std_id.append(std_input_id);

            //住址
            var std_address = $("<td></td>");
            var std_input_address = $("<input type='text' class=\"form-control\"/>");
            std_input_address.val($(this).parent().parent().find("td:eq(1)").html().trim());
            std_address.append(std_input_address);

            //面积
            var std_area = $("<td></td>");
            var std_input_area = $("<input type='text'class=\"form-control\"/>");
            std_input_area.val($(this).parent().parent().find("td:eq(2)").html().trim());
            std_area.append(std_input_area);

            //性质
            var std_nature = $("<td></td>");
            var std_input_nature = $("<input type='text' class=\"form-control\"/>");
            std_input_nature.val($(this).parent().parent().find("td:eq(3)").html().trim());
            std_nature.append(std_input_nature);

            //来源
            var std_from = $("<td></td>");
            var std_input_from = $("<input type='text' class=\"form-control\"/>");
            std_input_from.val($(this).parent().parent().find("td:eq(4)").html().trim());
            std_from.append(std_input_from);

            //产权人
            var std_owner = $("<td></td>");
            var std_input_owner = $("<input type='text' class=\"form-control\"/>");
            std_input_owner.val($(this).parent().parent().find("td:eq(5)").html().trim());
            std_owner.append(std_input_owner);

            //操作
            var std_operation = $("<td></td>");
            var std_a_operation = $("<a class='sure_upd' style=\"cursor:pointer\">确认修改</a> | <a class='sure_del' style=\"cursor:pointer\">删除</a>");
            std_operation.append(std_a_operation);

            temptr.empty();//先清空我修改的是哪一行，不然就是在后面追加了

            //把生成好的添加到列里边去   
            temptr.append(std_id);
            temptr.append(std_address);
            temptr.append(std_area);
            temptr.append(std_nature);
            temptr.append(std_from);
            temptr.append(std_owner);
            temptr.append(std_operation);

        });

        //确认修改
        $("#house_tbody a.sure_upd").live("click", function () {

            $.post("/EnterFile/_UpdateHouse",
                {
                    "h.Id": $(this).parent().parent().find("td").eq(0).find("input").val().trim(),
                    "h.HouseAddress": $(this).parent().parent().find("td").eq(1).find("input").val().trim(),
                    "h.Area": $(this).parent().parent().find("td").eq(2).find("input").val().trim(),
                    "h.HouseNature": $(this).parent().parent().find("td").eq(3).find("input").val().trim(),
                    "h.HouseFrom": $(this).parent().parent().find("td").eq(4).find("input").val().trim(),
                    "h.PropertyOwner": $(this).parent().parent().find("td").eq(5).find("input").val().trim()

                }, function (data) {
                    if (data == "1") {
                        alert("修改成功！");
                        location.href = "/EnterFile/Housing";
                    }
                    else {
                        alert("修改失败,请重试！");
                        location.reload();//刷新
                    }
                });
        });

        //删除
        $("#house_tbody a.sure_del").live("click", function () {

            $.post("/EnterFile/_DelHouse",
                {
                    "h.Id": $(this).parent().parent().find("td").eq(0).find("input").val().trim(),

                }, function () {
                    alert("删除成功！");
                    location.href = "/EnterFile/Housing";
                });
        });


        ////////////////购房
        //添加
        $("#buy_add").click(function () {
            var needtr = $("<tr></tr>");
            needtr.append(
            "<td><input type=\"text\" id='buyaddres' class=\"form-control\"></td>" +
            "<td><input type=\"text\" id='buyarea' class=\"form-control\"></td>" +
            "<td><input type=\"text\" id='buymoney' class=\"form-control\"></td>" +
            "<td><input type=\"text\" id='buyfrom' class=\"form-control\"></td>" +
            "<td><input type=\"text\" class=\"form-control laydate-icon\" onClick = \"WdatePicker()\"></td>" +
            "<td><a class='save' style=\"cursor:pointer\" href=''>保存</a> | <a class='cancel' style=\"cursor:pointer\" href=''>取消</a></td>");
            //editable-sample2
            $("#buy_tbody").append(needtr);
        });

        //保存 
        $("#buy_tbody a.save").live("click", function () {

            $.post("/EnterFile/_AddBuy",
                {
                    "h.BuyHouseAddress": $(this).parent().parent().find("td").eq(0).find("input").val().trim(),
                    "h.BuyHouseArea": $(this).parent().parent().find("td").eq(1).find("input").val().trim(),
                    "h.BuyHouseMoney": $(this).parent().parent().find("td").eq(2).find("input").val().trim(),
                    "h.BuyHouseIncome": $(this).parent().parent().find("td").eq(3).find("input").val().trim(),
                    "h.BuyHouseTime": $(this).parent().parent().find("td").eq(4).find("input").val().trim()

                }, function (data) {
                    if (data == "1") {
                        alert("保存成功！");
                        location.href = "/EnterFile/Housing";

                    }
                    else {
                        alert("保存失败,请重试！");
                        location.reload();//刷新
                    }
                });
        });

        //取消
        $("#buy_tbody a.cancel").live("click", function () {

            $(this).parent().parent().remove();
        });


        //出现修改框
        $(".buy_update").click(function () {

            var temptr = $(this).parent().parent();

            //序号
            var std_id = $("<td hidden='hidden'></td>");
            var std_input_id = $("<input type='text' class=\"form-control\"/>");
            std_input_id.val($(this).parent().parent().find("td:eq(0)").html().trim());
            std_id.append(std_input_id);

            //住址
            var std_address = $("<td></td>");
            var std_input_address = $("<input type='text' class=\"form-control\"/>");
            std_input_address.val($(this).parent().parent().find("td:eq(1)").html().trim());
            std_address.append(std_input_address);

            //面积
            var std_area = $("<td></td>");
            var std_input_area = $("<input type='text'class=\"form-control\"/>");
            std_input_area.val($(this).parent().parent().find("td:eq(2)").html().trim());
            std_area.append(std_input_area);

            //金额
            var std_money = $("<td></td>");
            var std_input_money = $("<input type='text' class=\"form-control\"/>");
            std_input_money.val($(this).parent().parent().find("td:eq(3)").html().trim());
            std_money.append(std_input_money);

            //来源
            var std_from = $("<td></td>");
            var std_input_from = $("<input type='text' class=\"form-control\"/>");
            std_input_from.val($(this).parent().parent().find("td:eq(4)").html().trim());
            std_from.append(std_input_from);

            //时间
            var std_time = $("<td></td>");
            var std_input_time = $("<input type='text' id='updbuytime' class=\"form-control laydate-icon\" onClick = \"WdatePicker()\"/>");
            std_input_time.val($(this).parent().parent().find("td:eq(5)").html().trim());
            std_time.append(std_input_time);

            //操作
            var std_operation = $("<td></td>");
            var std_a_operation = $("<a class='sure_upd' style=\"cursor:pointer\">确认修改</a> | <a class='sure_del' style=\"cursor:pointer\">删除</a>");
            std_operation.append(std_a_operation);

            temptr.empty();//先清空我修改的是哪一行，不然就是在后面追加了

            //把生成好的添加到列里边去   
            temptr.append(std_id);
            temptr.append(std_address);
            temptr.append(std_area);
            temptr.append(std_money);
            temptr.append(std_from);
            temptr.append(std_time);
            temptr.append(std_operation);

        });

        //确认修改
        $("#buy_tbody a.sure_upd").live("click", function () {

            $.post("/EnterFile/_UpdateBuy",
                {
                    "h.Id": $(this).parent().parent().find("td").eq(0).find("input").val().trim(),
                    "h.BuyHouseAddress": $(this).parent().parent().find("td").eq(1).find("input").val().trim(),
                    "h.BuyHouseArea": $(this).parent().parent().find("td").eq(2).find("input").val().trim(),
                    "h.BuyHouseMoney": $(this).parent().parent().find("td").eq(3).find("input").val().trim(),
                    "h.BuyHouseIncome": $(this).parent().parent().find("td").eq(4).find("input").val().trim(),
                    "h.BuyHouseTime": $(this).parent().parent().find("td").eq(5).find("input").val().trim()

                }, function (data) {
                    if (data == "1") {
                        alert("修改成功！");
                        location.href = "/EnterFile/Housing";
                    }
                    else {
                        alert("修改失败,请重试！");
                        location.reload();//刷新
                    }
                });
        });

        //删除
        $("#buy_tbody a.sure_del").live("click", function () {

            $.post("/EnterFile/_DelBuy",
                {
                    "h.Id": $(this).parent().parent().find("td").eq(0).find("input").val().trim(),

                }, function () {
                    alert("删除成功！");
                    location.href = "/EnterFile/Housing";
                });
        });

        //////////////////售房///////////////
        //添加
        $("#sell_add").click(function () {
            var needtr = $("<tr></tr>");
            needtr.append(
            "<td><input type=\"text\" class=\"form-control\"></td>" +
            "<td><input type=\"text\" class=\"form-control\"></td>" +
            "<td><input type=\"text\" class=\"form-control\"></td>" +
            "<td><input type=\"text\" class=\"form-control laydate-icon\" onClick = \"WdatePicker()\"></td>" +
            "<td><input type=\"text\" class=\"form-control\"></td>" +
            "<td><a class='save' style=\"cursor:pointer\" href=''>保存</a> | <a class='cancel' style=\"cursor:pointer\" href=''>取消</a></td>");
            //editable-sample2
            $("#sell_tbody").append(needtr);
        });

        //保存 
        $("#sell_tbody a.save").live("click", function () {

            $.post("/EnterFile/_AddSell",
                {
                    "h.SellHouseAddress": $(this).parent().parent().find("td").eq(0).find("input").val().trim(),
                    "h.SellHouseArea": $(this).parent().parent().find("td").eq(1).find("input").val().trim(),
                    "h.SellHouseNature": $(this).parent().parent().find("td").eq(2).find("input").val().trim(),
                    "h.SellHouseTime": $(this).parent().parent().find("td").eq(3).find("input").val().trim(),
                    "h.SellHouseMoney": $(this).parent().parent().find("td").eq(4).find("input").val().trim()

                }, function (data) {
                    if (data == "1") {
                        alert("保存成功！");
                        location.reload();
                        location.href = "/EnterFile/Housing";

                    }
                    else {
                        alert("保存失败,请重试！");
                        location.reload();//刷新
                    }
                });
        });

        //取消
        $("#sell_tbody a.cancel").live("click", function () {

            $(this).parent().parent().remove();
        });

        //出现修改框
        $(".sell_update").click(function () {

            var temptr = $(this).parent().parent();

            //序号
            var std_id = $("<td hidden='hidden'></td>");
            var std_input_id = $("<input type='text' class=\"form-control\"/>");
            std_input_id.val($(this).parent().parent().find("td:eq(0)").html().trim());
            std_id.append(std_input_id);

            //住址
            var std_address = $("<td></td>");
            var std_input_address = $("<input type='text' class=\"form-control\"/>");
            std_input_address.val($(this).parent().parent().find("td:eq(1)").html().trim());
            std_address.append(std_input_address);

            //面积
            var std_area = $("<td></td>");
            var std_input_area = $("<input type='text'class=\"form-control\"/>");
            std_input_area.val($(this).parent().parent().find("td:eq(2)").html().trim());
            std_area.append(std_input_area);

            //性质
            var std_nature = $("<td></td>");
            var std_input_nature = $("<input type='text' class=\"form-control\"/>");
            std_input_nature.val($(this).parent().parent().find("td:eq(3)").html().trim());
            std_nature.append(std_input_nature);

            //时间
            var std_time = $("<td></td>");
            var std_input_time = $("<input type='text' class=\"form-control laydate-icon\" onClick = \"WdatePicker()\"/>");
            std_input_time.val($(this).parent().parent().find("td:eq(4)").html().trim());
            std_time.append(std_input_time);

            //金额
            var std_money = $("<td></td>");
            var std_input_money = $("<input type='text' class=\"form-control\"/>");
            std_input_money.val($(this).parent().parent().find("td:eq(5)").html().trim());
            std_money.append(std_input_money);

            //操作
            var std_operation = $("<td></td>");
            var std_a_operation = $("<a class='sure_upd' style=\"cursor:pointer\">确认修改</a> | <a class='sure_del' style=\"cursor:pointer\">删除</a>");
            std_operation.append(std_a_operation);

            temptr.empty();//先清空我修改的是哪一行，不然就是在后面追加了

            //把生成好的添加到列里边去   
            temptr.append(std_id);
            temptr.append(std_address);
            temptr.append(std_area);
            temptr.append(std_nature);
            temptr.append(std_time);
            temptr.append(std_money);
            temptr.append(std_operation);

        });

        //确认修改
        $("#sell_tbody a.sure_upd").live("click", function () {

            $.post("/EnterFile/_UpdateSell",
                {
                    "h.Id": $(this).parent().parent().find("td").eq(0).find("input").val().trim(),
                    "h.SellHouseAddress": $(this).parent().parent().find("td").eq(1).find("input").val().trim(),
                    "h.SellHouseArea": $(this).parent().parent().find("td").eq(2).find("input").val().trim(),
                    "h.SellHouseNature": $(this).parent().parent().find("td").eq(3).find("input").val().trim(),
                    "h.SellHouseTime": $(this).parent().parent().find("td").eq(4).find("input").val().trim(),
                    "h.SellHouseMoney": $(this).parent().parent().find("td").eq(5).find("input").val().trim()

                }, function (data) {
                    if (data == "1") {
                        alert("修改成功！");
                        location.href = "/EnterFile/Housing";
                    }
                    else {
                        alert("修改失败,请重试！");
                        location.reload();//刷新
                    }
                });
        });

        //删除
        $("#sell_tbody a.sure_del").live("click", function () {

            $.post("/EnterFile/_DelSell",
                {
                    "h.Id": $(this).parent().parent().find("td").eq(0).find("input").val().trim(),

                }, function () {
                    alert("删除成功！");
                    location.href = "/EnterFile/Housing";
                });
        });

        //////////////////租房///////////////
        //添加
        $("#rent_add").click(function () {
            var needtr = $("<tr></tr>");
            needtr.append(
            "<td><input type=\"text\" class=\"form-control\"></td>" +
            "<td><input type=\"text\" class=\"form-control\"></td>" +
            "<td><input type=\"text\" class=\"form-control\"></td>" +
            "<td><input type=\"text\" class=\"form-control laydate-icon\" onClick = \"WdatePicker()\"></td>" +
            "<td><input type=\"text\" class=\"form-control\"></td>" +
            "<td><a class='save' style=\"cursor:pointer\" href=''>保存</a> | <a class='cancel' style=\"cursor:pointer\" href=''>取消</a></td>");
            //editable-sample2
            $("#rent_tbody").append(needtr);
        });

        //保存 
        $("#rent_tbody a.save").live("click", function () {

            $.post("/EnterFile/_AddRentOut",
                {
                    "h.RentoutAddress": $(this).parent().parent().find("td").eq(0).find("input").val().trim(),
                    "h.RentoutArea": $(this).parent().parent().find("td").eq(1).find("input").val().trim(),
                    "h.RentoutNature": $(this).parent().parent().find("td").eq(2).find("input").val().trim(),
                    "h.RentoutTime": $(this).parent().parent().find("td").eq(3).find("input").val().trim(),
                    "h.RentoutMoney": $(this).parent().parent().find("td").eq(4).find("input").val().trim()

                }, function (data) {
                    if (data == "1") {
                        alert("保存成功！");
                        location.href = "/EnterFile/Housing";

                    }
                    else {
                        alert("保存失败,请重试！");
                        location.reload();//刷新
                    }
                });
        });

        //取消
        $("#rent_tbody a.cancel").live("click", function () {

            $(this).parent().parent().remove();
        });

        //出现修改框
        $(".rent_update").click(function () {

            var temptr = $(this).parent().parent();

            //序号
            var std_id = $("<td hidden='hidden'></td>");
            var std_input_id = $("<input type='text' class=\"form-control\"/>");
            std_input_id.val($(this).parent().parent().find("td:eq(0)").html().trim());
            std_id.append(std_input_id);

            //住址
            var std_address = $("<td></td>");
            var std_input_address = $("<input type='text' class=\"form-control\"/>");
            std_input_address.val($(this).parent().parent().find("td:eq(1)").html().trim());
            std_address.append(std_input_address);

            //面积
            var std_area = $("<td></td>");
            var std_input_area = $("<input type='text'class=\"form-control\"/>");
            std_input_area.val($(this).parent().parent().find("td:eq(2)").html().trim());
            std_area.append(std_input_area);

            //性质
            var std_nature = $("<td></td>");
            var std_input_nature = $("<input type='text' class=\"form-control\"/>");
            std_input_nature.val($(this).parent().parent().find("td:eq(3)").html().trim());
            std_nature.append(std_input_nature);

            //时间
            var std_time = $("<td></td>");
            var std_input_time = $("<input type='text' class=\"form-control laydate-icon\" onClick = \"WdatePicker()\"/>");
            std_input_time.val($(this).parent().parent().find("td:eq(4)").html().trim());
            std_time.append(std_input_time);

            //金额
            var std_money = $("<td></td>");
            var std_input_money = $("<input type='text' class=\"form-control\"/>");
            std_input_money.val($(this).parent().parent().find("td:eq(5)").html().trim());
            std_money.append(std_input_money);

            //操作
            var std_operation = $("<td></td>");
            var std_a_operation = $("<a class='sure_upd' style=\"cursor:pointer\">确认修改</a> | <a class='sure_del' style=\"cursor:pointer\">删除</a>");
            std_operation.append(std_a_operation);

            temptr.empty();//先清空我修改的是哪一行，不然就是在后面追加了

            //把生成好的添加到列里边去   
            temptr.append(std_id);
            temptr.append(std_address);
            temptr.append(std_area);
            temptr.append(std_nature);
            temptr.append(std_time);
            temptr.append(std_money);
            temptr.append(std_operation);

        });

        //确认修改
        $("#rent_tbody a.sure_upd").live("click", function () {

            $.post("/EnterFile/_UpdateRentOut",
                {
                    "h.Id": $(this).parent().parent().find("td").eq(0).find("input").val().trim(),
                    "h.RentoutAddress": $(this).parent().parent().find("td").eq(1).find("input").val().trim(),
                    "h.RentoutArea": $(this).parent().parent().find("td").eq(2).find("input").val().trim(),
                    "h.RentoutNature": $(this).parent().parent().find("td").eq(3).find("input").val().trim(),
                    "h.RentoutTime": $(this).parent().parent().find("td").eq(4).find("input").val().trim(),
                    "h.RentoutMoney": $(this).parent().parent().find("td").eq(5).find("input").val().trim()

                }, function (data) {
                    if (data == "1") {
                        alert("修改成功！");
                        location.href = "/EnterFile/Housing";
                    }
                    else {
                        alert("修改失败,请重试！");
                        location.reload();//刷新
                    }
                });
        });

        //删除
        $("#rent_tbody a.sure_del").live("click", function () {

            $.post("/EnterFile/_DelRentOut",
                {
                    "h.Id": $(this).parent().parent().find("td").eq(0).find("input").val().trim(),

                }, function () {
                    alert("删除成功！");
                    location.href = "/EnterFile/Housing";
                });
        });

        /////////////建房////////////////
        //添加
        $("#build_add").click(function () {
            var needtr = $("<tr></tr>");
            needtr.append(
            "<td><input type=\"text\" class=\"form-control\"></td>" +
            "<td><input type=\"text\" class=\"form-control\"></td>" +
            "<td><input type=\"text\" class=\"form-control\"></td>" +
            "<td><input type=\"text\" class=\"form-control\"></td>" +
            "<td><input type=\"text\" class=\"form-control\"></td>" +
            "<td><a class='save' style=\"cursor:pointer\" href=''>保存</a> | <a class='cancel' style=\"cursor:pointer\" href=''>取消</a></td>");
            //editable-sample2
            $("#build_tbody").append(needtr);
        });

        //保存 
        $("#build_tbody a.save").live("click", function () {

            $.post("/EnterFile/_AddBuild",
                {
                    "h.BuildHousesAddress": $(this).parent().parent().find("td").eq(0).find("input").val().trim(),
                    "h.BuildHousesArea": $(this).parent().parent().find("td").eq(1).find("input").val().trim(),
                    "h.BuildHousesUnit": $(this).parent().parent().find("td").eq(2).find("input").val().trim(),
                    "h.BuildHousesTotal": $(this).parent().parent().find("td").eq(3).find("input").val().trim(),
                    "h.Payment": $(this).parent().parent().find("td").eq(4).find("input").val().trim()


                }, function (data) {
                    if (data == "1") {
                        alert("保存成功！");
                        location.href = "/EnterFile/Housing";

                    }
                    else {
                        alert("保存失败,请重试！");
                        location.reload();//刷新
                    }
                });
        });

        //取消
        $("#build_tbody a.cancel").live("click", function () {

            $(this).parent().parent().remove();
        });

        //出现修改框
        $(".build_update").click(function () {

            var temptr = $(this).parent().parent();

            //序号
            var std_id = $("<td hidden='hidden'></td>");
            var std_input_id = $("<input type='text' class=\"form-control\"/>");
            std_input_id.val($(this).parent().parent().find("td:eq(0)").html().trim());
            std_id.append(std_input_id);

            //住址
            var std_address = $("<td></td>");
            var std_input_address = $("<input type='text' class=\"form-control\"/>");
            std_input_address.val($(this).parent().parent().find("td:eq(1)").html().trim());
            std_address.append(std_input_address);

            //面积
            var std_area = $("<td></td>");
            var std_input_area = $("<input type='text'class=\"form-control\"/>");
            std_input_area.val($(this).parent().parent().find("td:eq(2)").html().trim());
            std_area.append(std_input_area);

            //单位
            var std_unit = $("<td></td>");
            var std_input_unit = $("<input type='text' class=\"form-control\"/>");
            std_input_unit.val($(this).parent().parent().find("td:eq(3)").html().trim());
            std_unit.append(std_input_unit);

            //金额
            var std_money = $("<td></td>");
            var std_input_money = $("<input type='text' class=\"form-control\"/>");
            std_input_money.val($(this).parent().parent().find("td:eq(4)").html().trim());
            std_money.append(std_input_money);

            //支付
            var std_pay = $("<td></td>");
            var std_input_pay = $("<input type='text' class=\"form-control\"/>");
            std_input_pay.val($(this).parent().parent().find("td:eq(5)").html().trim());
            std_pay.append(std_input_pay);

            //操作
            var std_operation = $("<td></td>");
            var std_a_operation = $("<a class='sure_upd' style=\"cursor:pointer\">确认修改</a> | <a class='sure_del' style=\"cursor:pointer\">删除</a>");
            std_operation.append(std_a_operation);

            temptr.empty();//先清空我修改的是哪一行，不然就是在后面追加了

            //把生成好的添加到列里边去   
            temptr.append(std_id);
            temptr.append(std_address);
            temptr.append(std_area);
            temptr.append(std_unit);        
            temptr.append(std_money);
            temptr.append(std_pay);
            temptr.append(std_operation);

        });

        //确认修改
        $("#build_tbody a.sure_upd").live("click", function () {

            $.post("/EnterFile/_UpdateBuild",
                {
                    "h.Id": $(this).parent().parent().find("td").eq(0).find("input").val().trim(),
                    "h.BuildHousesAddress": $(this).parent().parent().find("td").eq(1).find("input").val().trim(),
                    "h.BuildHousesArea": $(this).parent().parent().find("td").eq(2).find("input").val().trim(),
                    "h.BuildHousesUnit": $(this).parent().parent().find("td").eq(3).find("input").val().trim(),
                    "h.BuildHousesTotal": $(this).parent().parent().find("td").eq(4).find("input").val().trim(),
                    "h.Payment": $(this).parent().parent().find("td").eq(5).find("input").val().trim()

                }, function (data) {
                    if (data == "1") {
                        alert("修改成功！");
                        location.href = "/EnterFile/Housing";
                    }
                    else {
                        alert("修改失败,请重试！");
                        location.reload();//刷新
                    }
                });
        });

        //删除
        $("#build_tbody a.sure_del").live("click", function () {

            $.post("/EnterFile/_DelBuild",
                {
                    "h.Id": $(this).parent().parent().find("td").eq(0).find("input").val().trim(),

                }, function () {
                    alert("删除成功！");
                    location.href = "/EnterFile/Housing";
                });
        });

    });

</script>    