@{
    ViewBag.Title = "ChkUserChkLetterChk";
    Layout = "~/Views/_PartialPage2.cshtml";
}


<style>
    #row1
    {
        margin-top: -2px;
    }

    #row2
    {
        margin-top: -2px;
    }
</style>


<div class="row" id="row1">
    <div class="col-md-12">
        <!--breadcrumbs start -->
        <ul class="breadcrumb panel">
            <li><a href="/Main/Index"><i class="fa fa-home"></i>首页</a></li>
            <li><a href="/CheckFile/CheckUserIndex">档案审核</a></li>           
            <li class="active">廉政档案登记表</li>
        </ul>
        <!--breadcrumbs end -->
    </div>
</div>


<div class="row" id="row2">
    <div class="col-sm-12">
        @{ 
             
            var userinfolist = ViewBag.userinfolist as List<Yisaa.DAL.DT_UserInfo>;
            var letter = ViewBag.letter as List<Yisaa.DAL.DT_PetitionLetter>;
            foreach (var total in (ViewBag.tlist as List<Yisaa.DAL.DT_Total>))
            {
                foreach (var user in userinfolist.Where(a => a.Id == total.UserInfoId))
                {

                    foreach (var l in letter.Where(a => a.Id == total.PetitionLetterId))
                    {
            <section class="panel">
                <input type="text" value="@total.Id" hidden="hidden" id="myid"/>
                <input type="text" value="@total.UserId" hidden="hidden" id="myuserid"/>
                <header class="panel-heading">【@user.RealName】信访核查情况登记表</header>
                <div class="panel-body">
                    <table class="table table-bordered">
                                                                        
                                <tr >
                                  <td class="t01" width="15%">信访 <br />
                                    登记号 </td>
                                  <td width="20%">@l.RecordNum</td>
                                  <td class="t01" width="15%">信访时间 </td>
                                  <td width="15%">@Convert.ToDateTime(l.LetterTime).ToString("yyyy-MM-dd")</td>
                                  <td class="t01" width="15%" colspan="2" >信息 <br />
                                    来源单位 </td>
                                  <td width="20%">@l.FromUnit</td>
                                </tr>
                                <tr >
                                  <td class="t01" rowspan="2" >被反映人 </td>
                                  <td class="t01" >姓 名 </td>
                                  <td >@l.ByManName</td>
                                  <td class="t01" >职 务 </td>
                                  <td colspan="3" >@l.ByManPost</td>
                                </tr>
                                <tr >
                                  <td class="t01" >单 位 </td>
                                  <td colspan="5" >@l.ByManUnit</td>
                                </tr>
                                <tr >
                                  <td class="t01" rowspan="2" >反映人 </td>
                                  <td class="t01">姓 名 </td>
                                  <td >@l.ManName</td>
                                  <td class="t01">联系<br />
                                    方式<br /></td>
                                  <td colspan="3" >@l.ManTel</td>
                                </tr>
                                <tr >
                                  <td class="t01">单 位 </td>
                                  <td colspan="2" >@l.ManUnit</td>
                                  <td class="t01">职 务 </td>
                                  <td colspan="2" >@l.ManPost</td>
                                </tr>
                                <tr >
                                  <td class="t01">信访反映 <br />
                                    内容 </td>
                                  <td colspan="6" >@l.Content</td>
                                </tr>
                                <tr >
                                  <td class="t01">调查情况 <br />
                                    及结论 </td>
                                  <td colspan="6" >@l.SurveyResult</td>
                                </tr>
                                <tr >
                                  <td class="t01">处理结果 </td>
                                  <td colspan="6" >@l.HandleResult</td>
                                </tr>
                                <tr >
                                  <td class="t01">备注 </td>
                                  <td colspan="6" >@l.Remark</td>
                                </tr>
                                         
                              </table>

                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>退回意见<span style="color: red">（审核通过不必填写）</span></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr class="">
                                <td>
                                    <textarea rows="6" class="form-control" id="backadvice"></textarea></td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="t_center">
                        <button class="btn btn-success btn-lg" type="button" id="check_yesbtn">审核通过</button>
                        <button class="btn btn-danger btn-lg" type="button" id="check_nobtn">审核不通过</button>
                        <button class="btn btn-default btn-lg" type="button" onclick="window.history.go(-1);">返回</button>
                    </p>
                </div>
            </section>      
                    }
                }
            }
            }
</div>
</div>
<script src="~/Content/js/jquery-1.10.2.min.js"></script>


<script>
    $(function () {
       
        //审核通过
        $("#check_yesbtn").click(function () {

            $.post("/CheckFile/_UpdTotalLetterChk?id=" + $("#myid").val(),
              {
                  "id": $("#myid").val(),   
                  "advice": $("#backadvice").val(),
                
              },
              function (data) {
                  if (data=="1") {
                      alert("审核通过！");

                      location.href = "/CheckFile/CheckUserCheckOne?tid=" + $("#myuserid").val();
 
                  } else {

                      alert("审核不通过！");
                      window.history.go(-1);
                     
                  }
            });

        });
        //审核不通过
        $("#check_nobtn").click(function () {

            if ($("#backadvice").val() == "" || $("#backadvice").val() == null) {
                alert("请填写不通过原由！");
                return;
            } else {

                $.post("/CheckFile/_UpdTotalLetterChk_No?id=" + $("#myid").val(),
                  {
                      "id": $("#myid").val(),
                      "advice": $("#backadvice").val(),

                  },
                  function (data) {
                      if (data == "1") {
                          alert("审核不通过！");
                          location.href = "/CheckFile/CheckUserCheckOne?tid=" + $("#myuserid").val();

                      }
                  });
            }
        });
    });
    

</script>