@{
    ViewBag.Title = "PrintFamily";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="~/Content/css/global.css" type="text/css"/>
<link rel="stylesheet" href="~/Content/css/print.css" type="text/css"/>
<title>打印页面</title>
</head>
<body>
<div class="menu">
    <input type="button" value="打印" id="print_btn" onclick="javascript: window.print();"/>
    <input type="button" value="关闭" onclick="window.history.go(-1);" />
</div>
<div class="print_bd lin_h45">
  <h1 class="font_2 t_center padd_t40" >科级干部基本情况登记表</h1>
  <div class="font_4"><span class="font_4sm fr">表一－2</span></div>

      @{ 
        foreach (var total in (ViewBag.tlist as List<Yisaa.DAL.DT_Total>))
            {             
               foreach (var fa in (ViewBag.falist as List<Yisaa.DAL.DT_FamilyTotal>).Where(a => a.Id == total.FamilyId))
                {
  <table class="tab_b01 font_4sm lin_h24 tb_h48" >

    <tr >
      <td rowspan="9" width="10%" class="t01">
        家<br/>
        庭<br/>
        主<br/>
        要<br/>
        成<br/>
        员<br/>
        及<br/>
        主<br/>
        要<br/>
        社<br/>
        会<br/>
        关<br/>
        系 </td>
      <td class="t01">称 谓 </td>
      <td class="t01">姓 名 </td>
      <td class="t01">政治面貌 </td>
      <td class="t01">工 作 单 位 </td>
      <td class="t01">职 务 </td>
    </tr>
      @foreach (var f in (ViewBag.flist as List<Yisaa.DAL.DT_Family>).Where(a => a.UserId == fa.UserId))
       {
    <tr >
      <td>@f.Relation</td>
      <td>@f.Name</td>
      <td>@f.Outlook</td>
      <td>@f.Outlook</td>
      <td>@f.Post</td>
    </tr>
        }   
    <tr >
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr >
      <td  >&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr >
      <td  >&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr >
      <td  >&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr >
      <td  >&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    @*<tr >
      <td  >&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr >
      <td  >&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>*@
    <tr >
      <td class="t01">其<br/>
        他<br/>
        需<br/>
        要<br/>
        说<br/>
        明<br/>
        的<br/>
        情<br/>
        况 </td>
      <td class="t01" colspan="5" > 
          @fa.other
        &nbsp;</td>
    </tr>
  </table>
          
      }
      }
      }
  <div class="font_4">填表人签名：<u>　　　　　　　　　&nbsp;</u><span class="fr font_4">填表时间：<u>　　　　</u>年<u>　　</u>月<u>　　</u>日</span></div>
  <div class="font_5">说明：填现状。</div>
</div>
</body>
</html>
